<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gsl-msvc-x86" version="2.4.0.8788" targetFramework="native" />
  <package id="hdf5-v120-complete" version="1.8.15.2" targetFramework="native" />
  <package id="lapacke" version="0.1.0" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
</packages>